# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Build and packaging artifacts
*.egg-info/
dist/
build/

# OS junk
.DS_Store

# Project artifacts
thetas.json
regression_plot.png
model_params.txt
